html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #fafafa;
  border-top: 3px solid #d3573c;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#main {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__title {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographers-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  width: 100vw;
}

.photographer-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
}
.photographer__card {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  gap: 8px;
  border-radius: 15px;
  width: 350px;
  padding: 35px 0;
  transition: all 0.15s linear;
  pointer-events: none;
}
.photographer__card .photographer__portrait {
  transition: opacity 0.25s linear;
}
.photographer__card:hover, .photographer__card:focus {
  transition: all 0.15s linear;
  transform: scale(1.05);
  box-shadow: 3px 9px 10px #ddd;
}
.photographer__card:hover .photographer__portrait, .photographer__card:focus .photographer__portrait {
  transition: opacity 0.25s linear;
  opacity: 0.7;
}
.photographer__card:active {
  transform: scale(1);
  box-shadow: none;
  transition: all 0.05s linear;
}
.photographer__name {
  color: #d3573c;
  font-size: 2.4rem;
  margin: 25px 0 15px;
}
.photographer__portrait {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.photographer__location {
  color: #901c1c;
  font-size: 1.2rem;
}
.photographer__price {
  color: #525252;
}

.main_photograph {
  flex-direction: column;
  margin: 0 auto;
  width: 95vw;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photograph-header__id {
  display: flex;
  flex-direction: column;
}

.photographer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact-button:focus {
  outline: 4px solid black;
}

.photographer__data {
  width: 320px;
  bottom: 0;
  right: 20px;
  position: fixed;
  background-color: #d3573c;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 5px 5px 0 0;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  z-index: 1;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}
.modal__close {
  background-color: transparent;
  border: none;
}
.modal__close:focus {
  outline: 3px solid black;
  border-radius: 5px;
}
.modal[aria-hidden=true] {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  align-items: start;
}
.modal-header__text {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.modal-header__text > * {
  font-weight: 100 !important;
}
.modal-header__name {
  font-size: 2em;
}

.modal header img {
  cursor: pointer;
}

form {
  width: 100%;
}
form label {
  color: #312e2e;
  font-size: 2rem;
}
form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}
form input {
  width: 100%;
  font-size: 36px;
  color: #312e2e;
  height: 68px;
  border: none;
  border-radius: 5px;
}
form input:focus {
  outline: 3px solid black;
}
form textarea {
  height: 168px;
  font-size: 36px;
  color: #312e2e;
  border: none;
  border-radius: 5px;
}
form textarea:focus {
  outline: 3px solid black;
}

#lightbox {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

.lightbox {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lightbox__right {
  position: relative;
}
.lightbox__previous {
  padding-right: 25px;
}
.lightbox__next {
  height: 100%;
  padding: 0 15px 0 25px;
}
.lightbox__close {
  color: black;
  position: absolute;
  right: 0;
  width: 100%;
}
.lightbox__previous, .lightbox__next, .lightbox__close {
  cursor: pointer;
  border: none;
  color: #901c1c;
  background-color: transparent;
}
.lightbox__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lightbox__container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.lightbox__container video {
  width: 100%;
  border-radius: 5px;
}
.lightbox__text {
  color: #901c1c;
  padding-top: 5px;
  font-size: 1.5rem;
}

.medias__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  width: 100%;
}

/* ------------------------------------------------------- */
.select-wrapper {
  margin-left: 20px;
  position: relative;
  width: 22%;
  display: inline-block;
}

.select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px 30px;
  margin-bottom: -1px;
  height: 65px;
  border: none;
  background-color: #901c1c;
  border-radius: 7px;
  cursor: pointer;
}
.select__trigger:focus {
  outline: 4px solid black;
}

.custom-options {
  position: absolute;
  display: block;
  top: 96%;
  left: 0;
  right: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  display: block;
  line-height: 60px;
  transition: all 0.5s;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 1px 30px;
  height: 60px;
  border: none;
  background-color: #901c1c;
  position: relative;
}
.custom-option::before {
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  background-color: white;
  width: 90%;
  position: absolute;
  top: 0px;
  left: 12px;
}

.custom-option:hover {
  cursor: pointer;
}

.custom-option:last-of-type:not(.selected) {
  border-radius: 0 0 7px 7px;
  box-shadow: 0 3px 10px #aaa;
}

label[for=medias-sort] {
  font-size: 1.25rem;
  font-weight: bold;
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.2rem;
  height: 100%;
  transition: all 0.5s;
}

.arrow::before {
  left: -3px;
  transform: rotate(-45deg);
  background-color: white;
}

.arrow::after {
  left: 6px;
  transform: rotate(45deg);
  background-color: white;
}

.open .arrow::before {
  left: -3px;
  transform: rotate(45deg);
}

.open .arrow::after {
  left: 6px;
  transform: rotate(-45deg);
}

/* --------------------------------------------------------- */
.media-card {
  width: 100%;
  justify-self: center;
  cursor: pointer;
  padding: 4px;
}
.media-card__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 7px;
  transform: scale(1);
  transition: all 0.15s linear;
}
.media-card__image:hover {
  transition: all 0.15s linear;
  transform: scale(1.02);
  box-shadow: 3px 6px 10px #ddd;
  opacity: 0.7;
}
.media-card:focus {
  border-radius: 0;
}
.media-card:focus .media-card__image {
  transition: all 0.15s linear;
  transform: scale(1.02);
  box-shadow: 3px 6px 10px #ddd;
  opacity: 0.7;
}
.media-card:focus:active .media-card__image {
  transform: scale(1);
  box-shadow: none;
  transition: all 0.05s linear;
}

.image__datas {
  display: flex;
  justify-content: space-between;
  color: #901c1c;
  padding-top: 10px;
  font-size: 1.5rem;
}

/**
 * Visually hide an element, but leave it available for screen readers
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
