@charset "UTF-8";
body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

#main {
  display: flex;
  justify-content: center;
}

.index-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.index-header__title {
  color: #901c1c;
  margin-right: 100px;
}
@media screen and (max-width: 768px) {
  .index-header__title {
    margin: 0%;
  }
}
@media screen and (max-width: 768px) {
  .index-header {
    flex-direction: column;
    align-items: center;
  }
}

a[aria-label="Page d'accueil"] {
  margin-left: 90px;
  border: none;
  padding: 5px 10px;
}
a[aria-label="Page d'accueil"]:focus {
  outline: 4px solid black;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  a[aria-label="Page d'accueil"] {
    justify-content: center;
    margin: 60px 0 30px;
  }
}

.logo {
  height: 50px;
}
@media screen and (max-width: 768px) {
  .logo {
    height: 60px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    height: 80px;
  }
}

.photographers-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  width: 100vw;
}
@media screen and (max-width: 992px) {
  .photographers-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .photographers-section {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 120px;
    gap: 0;
  }
}

.photographer-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
}
@media screen and (max-width: 768px) {
  .photographer-card__header img {
    width: 90vw;
    height: 500px;
  }
}
.photographer__card {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  gap: 8px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  padding: 35px 0;
  transition: all 0.15s linear;
  transform: scale(1);
  pointer-events: none;
  border: 3px solid transparent;
}
.photographer__card .photographer__portrait {
  transition: opacity 0.25s linear;
}
.photographer__card:hover,
.photographer__card:focus {
  border: 3px solid black;
  transition: all 0.15s linear;
  transform: scale(1.05);
  box-shadow: 3px 9px 10px #ddd;
}
.photographer__card:hover .photographer__portrait,
.photographer__card:focus .photographer__portrait {
  transition: opacity 0.25s linear;
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .photographer__card:hover .photographer__portrait,
  .photographer__card:focus .photographer__portrait {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .photographer__card:hover,
  .photographer__card:focus {
    border: 3px solid transparent;
    box-shadow: none;
    transform: none;
  }
}
.photographer__card:active {
  transform: scale(1);
  box-shadow: none;
  transition: all 0.05s linear;
}
@media screen and (max-width: 768px) {
  .photographer__card:active {
    transform: scale(0.98);
  }
}
.photographer__name {
  color: #d3573c;
  font-size: 2.4rem;
  margin: 25px 0 15px;
  text-align: center;
}
.photographer__portrait {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .photographer__portrait {
    border-radius: 5px;
    width: 100%;
  }
}
.photographer__location {
  color: #901c1c;
  font-size: 1.2rem;
}
.photographer__price {
  color: #525252;
}

@keyframes skeleton-loading {
  0% {
    background-color: #f0f3f5;
  }
  100% {
    background-color: #c2cfd6;
    opacity: 0.8;
  }
}
.skeleton {
  animation: skeleton-loading 0.8s linear infinite alternate;
}
.skeleton__card {
  transition: opacity 500ms ease-in-out;
}
.skeleton__text {
  width: 65%;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}
.skeleton__text_media {
  width: 100%;
  height: 2rem;
  margin-top: 0.8rem;
  border-radius: 0.25rem;
}
.skeleton__title {
  width: 90%;
  margin-top: 3.4rem;
  height: 1.7rem;
  margin-bottom: 2.7rem;
  border-radius: 0.25rem;
}
.skeleton__image {
  border-radius: 50%;
  height: 190px;
  width: 190px;
}
.skeleton__image_media {
  border-radius: 7px;
  width: 100%;
  aspect-ratio: 100/98;
}
.skeleton__media {
  padding: 0;
}

.fadeout {
  opacity: 0 !important;
}

.fadein {
  opacity: 1 !important;
}

.card {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

#card-template {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__title {
  color: #901c1c;
  margin-right: 100px;
}
@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
    margin: 35px 0 15px;
  }
}

.main_photograph {
  flex-direction: column;
  margin: 0 auto;
  width: 95vw;
}
@media screen and (max-width: 768px) {
  .main_photograph {
    text-align: center;
  }
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photograph-header__id {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .photograph-header {
    flex-direction: column;
    text-align: center;
    height: 650px;
    margin-bottom: 50px;
    padding-bottom: 100px;
  }
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact-button:focus {
  outline: 4px solid black;
}
@media screen and (max-width: 1200px) {
  .contact-button {
    height: 55px;
  }
}
@media screen and (max-width: 768px) {
  .contact-button {
    height: 70px;
  }
}

.photographer-header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}
@media screen and (max-width: 1200px) {
  .photographer-header__right {
    flex-direction: column-reverse;
    height: 80%;
  }
}
@media screen and (max-width: 768px) {
  .photographer-header__right {
    height: 100%;
  }
}
.photographer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.photographer__data {
  width: 320px;
  bottom: 0;
  right: 20px;
  position: fixed;
  background-color: #d3573c;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 5px 5px 0 0;
}
@media screen and (max-width: 1200px) {
  .photographer__portrait {
    width: 160px;
    height: 160px;
  }
}
@media screen and (max-width: 768px) {
  .photographer__portrait {
    height: 300px;
    width: 300px;
    margin: 40px;
  }
}

.modal {
  background-color: #db8876;
  width: 650px;
  padding: 35px 10px;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 2;
}
.modal__close {
  background-color: transparent;
  border: none;
}
.modal__close:focus {
  outline: 3px solid black;
  border-radius: 5px;
}
.modal[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  align-items: start;
}
.modal-header__text {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.modal-header__text > * {
  font-weight: 100 !important;
}
.modal-header__name {
  font-size: 2em;
}
.modal header img {
  cursor: pointer;
}

fieldset {
  border: none;
}

form {
  width: 100%;
}
form label {
  color: #312e2e;
  font-size: 1.6rem;
}
form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}
form input {
  width: 100%;
  font-size: 28px;
  color: #312e2e;
  height: 68px;
  border: none;
  border-radius: 5px;
}
form input:focus {
  outline: 3px solid black;
}
form textarea {
  height: 168px;
  font-size: 28px;
  color: #312e2e;
  border: none;
  border-radius: 5px;
}
form textarea:focus {
  outline: 3px solid black;
}

.success {
  border: 3px solid green;
}

.error {
  border: 3px solid red;
}

.error-message {
  font-size: 1.5rem;
  color: red;
  line-height: 2.4rem;
  width: 90%;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  padding-right: 10px;
  backdrop-filter: brightness(2);
}

#lightbox {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

.lightbox {
  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lightbox__previous {
  border: none;
  padding-right: 10px;
  outline: none;
  align-items: center;
  height: 32vh;
  align-self: center;
  margin-bottom: 6vh;
}
.lightbox__previous .fa-chevron-left {
  border: 2px solid transparent;
  padding: 100px 25px;
}
.lightbox__previous:focus .fa-chevron-left {
  border: 2px solid black;
  padding: 100px 25px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .lightbox__previous {
    position: absolute;
    left: 8%;
    top: 43%;
    z-index: 10;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 7px 6px;
  }
  .lightbox__previous .fa-chevron-left {
    border: none;
    padding: 0;
  }
  .lightbox__previous:focus .fa-chevron-left {
    padding: 200px 200px 200px 17px;
    width: 60px;
    height: 100%;
    position: relative;
    transform: scale(0.91);
    top: -204px;
    left: -34px;
  }
}
.lightbox__next {
  border: none;
  outline: none;
  align-items: center;
  padding-left: 10px;
  height: 32vh;
  align-self: center;
  margin-bottom: 6vh;
}
.lightbox__next .fa-chevron-right {
  border: 2px solid transparent;
  padding: 100px 25px;
}
.lightbox__next:focus .fa-chevron-right {
  border: 2px solid black;
  padding: 100px 25px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .lightbox__next {
    position: absolute;
    right: 8%;
    top: 43%;
    z-index: 10;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 7px 6px;
  }
  .lightbox__next .fa-chevron-right {
    border: none;
    padding: 0;
  }
  .lightbox__next:focus .fa-chevron-right {
    padding: 200px 17px 200px 200px;
    width: 60px;
    height: 100%;
    position: relative;
    transform: scale(0.91);
    top: -204px;
    left: -201px;
  }
}
.lightbox__close {
  outline: none;
  position: absolute;
  top: -15px;
  right: 0;
  padding: 25px 15px;
  border: 2px solid transparent;
}
.lightbox__close:focus {
  border: 2px solid black;
  padding: 25px 15px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .lightbox__close {
    top: 5px;
  }
}
.lightbox__previous,
.lightbox__next,
.lightbox__close {
  cursor: pointer;
  color: #901c1c;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .lightbox__previous,
  .lightbox__next,
  .lightbox__close {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
  }
  .lightbox__previous img,
  .lightbox__next img,
  .lightbox__close img {
    position: relative;
    top: -18px;
    left: -8px;
  }
}
.lightbox-container {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: calc(100% - 13vw);
  margin: auto;
}
.lightbox-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.lightbox-container video {
  width: 100%;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .lightbox-container {
    max-width: 100%;
  }
}
.lightbox__text {
  color: #901c1c;
  padding-top: 5px;
  font-size: 1.5rem;
}
.lightbox-caption {
  color: #901c1c;
  padding-top: 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.lightbox-caption__like-label {
  display: flex;
  align-items: flex-start;
}
.lightbox-caption__like-display {
  width: 60px;
  height: 60px;
  position: relative;
  border: 2px solid transparent;
  top: -10px;
  padding: 30px;
}
.lightbox-caption__like_inactive {
  color: rgba(82, 82, 82, 0.35);
  opacity: 1;
  position: absolute;
  top: 13px;
  right: 10px;
  transition: opacity 150ms;
  font-size: 2.2rem;
  margin: auto;
  cursor: pointer;
  z-index: 2;
}
.lightbox-caption__like_active {
  position: absolute;
  color: #901c1c;
  top: 13px;
  right: 10px;
  opacity: 0;
  transition: opacity 150ms;
  font-size: 2.2rem;
  cursor: pointer;
}
.lightbox-caption__like-btn {
  opacity: 0;
  margin: 20px;
  padding: 20px;
  left: 60px;
  position: relative;
  top: -4px;
}
.lightbox-caption__like-btn:focus ~ .lightbox-caption__like-display {
  border: 2px solid black;
  border-radius: 5px;
  padding: 30px;
}
.lightbox-caption__like-btn:checked
  ~ .lightbox-caption__like-display
  > .lightbox-caption__like_inactive {
  opacity: 0;
}
.lightbox-caption__like-btn:checked
  ~ .lightbox-caption__like-display
  > .lightbox-caption__like_active {
  opacity: 1;
}

.medias__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%;
  margin-top: 100px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .medias__section {
    gap: 1.8%;
  }
}
@media screen and (max-width: 992px) {
  .medias__section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .medias__section {
    grid-template-columns: 1fr;
    gap: 0.8%;
    margin-top: 60px;
  }
}

/* ------------------------------------------------------- */
.select {
  position: relative;
  display: flex;
  flex-direction: column;
}
.select__label {
  font-size: 1.25rem;
  font-weight: bold;
}
.select-wrapper {
  margin-left: 20px;
  position: relative;
  width: 300px;
  display: inline-block;
}
.select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px 30px;
  margin-bottom: -1px;
  height: 65px;
  border: none;
  background-color: #901c1c;
  border-radius: 7px;
  cursor: pointer;
}
.select__trigger:focus {
  outline: 4px solid black;
  z-index: 10;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.select.open .select__trigger {
  border-radius: 7px 7px 0 0;
}

.select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.no-btm-border-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

label[for='medias-sort'] {
  font-size: 1.25rem;
  font-weight: bold;
}

/* --------------------------------------------------------- */
.media-card {
  width: 100%;
  justify-self: center;
  cursor: pointer;
  position: relative;
  border: 5px solid transparent;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
}
.media-card__image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 7px;
  transition: all 0.15s linear;
  border: transparent;
}
.media-card__image:hover {
  transition: all 0.15s linear;
  transform: scale(1.02);
  box-shadow: 3px 6px 10px #ddd;
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .media-card__image:hover {
    transform: none;
    box-shadow: none;
    opacity: 1;
  }
}
.media-card__image:focus,
.media-card__image:active {
  border-radius: 0;
  transition: all 0.15s linear;
  transform: scale(1.03);
  box-shadow: 3px 6px 10px #ddd;
  opacity: 0.7;
  border: 5px solid black;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .media-card__image:focus,
  .media-card__image:active {
    transform: scale(1);
    opacity: 1;
    box-shadow: none;
  }
}
.media-card__video-icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
}
.media-card__video-icon-container {
  width: 100%;
  height: 90%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  pointer-events: none;
}
.media-card:active .media-card__image {
  transform: scale(0.97);
  box-shadow: none;
  transition: all 0.05s linear;
}
.media-card__likesNbr {
  white-space: nowrap;
}
.media-card__like {
  position: absolute;
  color: rgba(144, 28, 28, 0.8);
  top: 25px;
  right: 25px;
  background-color: white;
  border-radius: 50%;
  padding: 9px 7px 6px 7px;
  transition: all 0.15s linear;
}

.image__datas {
  display: flex;
  justify-content: space-between;
  color: #901c1c;
  padding-top: 10px;
  font-size: 1.5rem;
  padding-right: 15px;
}

.hidden {
  display: none;
}

/**
 * Cache un élément, mais le laisse apparent pour un screen reader
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.w100 {
  width: 100%;
}

#medias-sort-label {
  position: relative;
  top: 20px;
}

details {
  margin-left: 20px;
  position: absolute;
  width: 300px;
  display: inline-block;
  background-color: #901c1c;
  border-radius: 7px;
  z-index: 1;
}
details[open] .arrow::before {
  left: -3px;
  transform: rotate(45deg);
}
details[open] .arrow::after {
  left: 6px;
  transform: rotate(-45deg);
}

.selected {
  position: relative;
  width: 300px;
  padding-top: 3px;
  padding-left: 30px;
}
.selected:focus {
  outline: 4px solid black;
  border-radius: 7px;
  z-index: 100;
}

summary {
  width: 300px;
  list-style: none;
  align-items: center;
  height: 65px;
  color: white;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
summary span {
  width: 100%;
  display: block;
  border: none;
  position: relative;
}
summary:focus {
  outline: 4px solid black;
  border-radius: 7px;
  z-index: 100;
}

.custom-option {
  display: block;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 1px 30px;
  border: none;
  position: relative;
}
.custom-option::before {
  content: '';
  display: block;
  height: 2px;
  margin: 0 auto;
  background-color: white;
  width: 90%;
  position: absolute;
  top: -1px;
  left: 12px;
}
.custom-option:focus {
  outline: 4px solid black;
  border-radius: 7px;
  z-index: 100;
}
.custom-option:hover {
  cursor: pointer;
}

.arrow {
  position: absolute;
  right: 30px;
  top: 27px;
  height: 15px;
  width: 15px;
}
.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 0.2rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -3px;
  transform: rotate(-45deg);
  background-color: white;
}
.arrow::after {
  left: 6px;
  transform: rotate(45deg);
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
