html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #fafafa;
  border-top: 3px solid #d3573c;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#main {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__title {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographers-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  width: 100vw;
}

.photographer-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
}
.photographer__card {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  gap: 8px;
  border-radius: 15px;
  width: 350px;
  padding: 35px 0;
  transition: all 0.15s linear;
  pointer-events: none;
}
.photographer__card .photographer__portrait {
  transition: opacity 0.25s linear;
}
.photographer__card:hover {
  transition: all 0.15s linear;
  transform: scale(1.05);
  box-shadow: 3px 9px 10px #fafafa;
}
.photographer__card:hover .photographer__portrait {
  transition: opacity 0.25s linear;
  opacity: 0.7;
}
.photographer__card:active {
  transform: scale(1);
  box-shadow: none;
  transition: all 0.08s linear;
}
.photographer__name {
  color: #d3573c;
  font-size: 2.4rem;
  margin: 25px 0 15px;
}
.photographer__portrait {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.photographer__location {
  color: #901c1c;
  font-size: 1.2rem;
}
.photographer__price {
  color: #525252;
}

#contact_modal {
  display: none;
}

.main_photograph {
  flex-direction: column;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photograph-header__id {
  display: flex;
  flex-direction: column;
}

.photographer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.medias-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  width: 100%;
}

.media-card {
  justify-self: center;
}
.media-card__image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 7px;
}

.image__datas {
  display: flex;
  justify-content: space-between;
  color: #901c1c;
  padding-top: 10px;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
