@use '../utils/variables' as *;

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid $quaternary-color;
  border-top: 3px solid $secondary-color;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  &__title {
    color: $primary-color;
    margin-right: 100px;
  }
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographers-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  width: 100vw;
}

.photographer {
  &-card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: auto;
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    gap: 8px;
    border-radius: 15px;
    width: 350px;
    padding: 35px 0;
    transition: all 0.15s linear;
    pointer-events: none;
    & .photographer__portrait {
      transition: opacity 0.25s linear;
    }
    &:hover, &:focus {
      transition: all 0.15s linear;
      transform: scale(1.05);
      box-shadow: 3px 9px 10px $quaternary-color;
      & .photographer__portrait {
        transition: opacity 0.25s linear;
        opacity: 0.7;
      }
    }
    &:active {
      transform: scale(1);
      box-shadow: none;
      transition: all 0.08s linear;
    }
  }
  &__name {
    color: $secondary-color;
    font-size: 2.4rem;
    margin: 25px 0 15px;
  }
  &__portrait {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  &__location {
    color: $primary-color;
    font-size: 1.2rem;
  }
  &__price {
    color: $tertiary-color;
  }
}
