@use '../utils/variables' as *;

.main_photograph {
  flex-direction: column;
  margin: 0 auto;
  width: 95vw;
}

.photograph-header {
  background-color: $quaternary-color;
  height: 300px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__id {
    display: flex;
    flex-direction: column;
  }
}

.photographer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $primary-color;
  border-radius: 5px;
  cursor: pointer;
  &:focus {
    outline: 4px solid black;
  }
}

.photographer__data {
  width: 320px;
  bottom: 0;
  right: 20px;
  position: fixed;
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 5px 5px 0 0;
}

.modal {
  border-radius: 5px;
  background-color: $modal-bg;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  z-index: 1;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
  &__close {
    background-color: transparent;
    border: none;
    &:focus {
      outline: 3px solid black;
      border-radius: 5px;
    }
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s;
  }
}

.hidden {
  display: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  align-items: start;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    & > * {
      font-weight: 100 !important; //FIXME
    }
  }
  &__name {
    font-size: 2em;
  }
}

.modal header img {
  cursor: pointer;
}

form {
  // display: flex;
  width: 100%;
  // flex-direction: column;
  // align-items: flex-start;

  & label {
    color: #312e2e;
    font-size: 2rem;
    // width: 100%;
  }

  & div {
    display: flex;
    flex-direction: column;
    // width: 100%;
    // align-items: self-start;
    margin-bottom: 26px;
  }

  & input {
    width: 100%;
    font-size: 36px;
    color: #312e2e;
    height: 68px;
    border: none;
    border-radius: 5px;
    &:focus {
      outline: 3px solid black;
    }
  }

  & textarea {
    // width: 100%;
    height: 168px;
    font-size: 36px;
    color: #312e2e;
    border: none;
    border-radius: 5px;
    &:focus {
      outline: 3px solid black;
    }
  }
}

#lightbox {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

.lightbox {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__right {
    position: relative;
  }
  &__previous {
    padding-right: 25px;
  }
  &__next {
    height: 100%;
    padding: 0 15px 0 25px;
  }
  &__close {
    color: black;
    position: absolute;
    right: 0;
    width: 100%;
  }
  &__previous,
  &__next,
  &__close {
    cursor: pointer;
    border: none;
    color: #901c1c;
    background-color: transparent;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    & video {
      //FIXME taille d'origine puis resize...
      width: 100%;
      border-radius: 5px;
    }
  }

  &__text {
    color: $primary-color;
    padding-top: 5px;
    font-size: 1.5rem;
  }
}

.medias {
  &__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    width: 100%;
  }
}
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.custom-select {
  & select {
    display: none; /*hide original SELECT element: */
  }
}

.select-selected {
  color: white;
  padding: 11px 16px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: $primary-color;
  border-radius: 5px 5px 0 0;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '';
  top: 22px;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 15px;
}

/* style the items (options), including the selected item: */
.select-items div {
  padding: 20px 16px;
}
.select-items div,
.select-selected {
  color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: $primary-color;
  top: 100%;
  right: 0;
  z-index: 99;
  font-size: 20px;
  width: 200px;
  &:last-child {
    border-radius: 0 0 5px 5px;
  }
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.select-items div:before {
  display: block;
  content: '';
  background: white;
  height: 1px;
  margin-top: -20px;
}
.media-card {
  width: 100%;
  justify-self: center;
  cursor: pointer;
  &__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 7px;
  }
}

.image__datas {
  display: flex;
  justify-content: space-between;
  color: $primary-color;
  padding-top: 10px;
  font-size: 1.5rem;
}

/**
 * Visually hide an element, but leave it available for screen readers
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
