@use '../utils/variables' as *;

// @use 'sass:color';

.main_photograph {
  flex-direction: column;
  margin: 0 auto;
  width: 95vw;
}

.photograph-header {
  background-color: $quaternary-color;
  height: 300px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__id {
    display: flex;
    flex-direction: column;
  }
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $primary-color;
  border-radius: 5px;
  cursor: pointer;
  &:focus {
    outline: 4px solid black;
  }
}

.photographer {
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__data {
    width: 320px;
    bottom: 0;
    right: 20px;
    position: fixed;
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 5px 5px 0 0;
  }
}

.modal {
  border-radius: 5px;
  background-color: $modal-bg;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px 10px;
  margin: auto;
  z-index: 1;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
  &__close {
    background-color: transparent;
    border: none;
    &:focus {
      outline: 3px solid black;
      border-radius: 5px;
    }
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    align-items: start;
    &__text {
      display: flex;
      flex-direction: column;
      align-items: start;
      & > * {
        font-weight: 100 !important; //FIXME
      }
    }
    &__name {
      font-size: 2em;
    }
  }
  & header img {
    cursor: pointer;
  }
}

form {
  // display: flex;
  width: 100%;
  // flex-direction: column;
  // align-items: flex-start;

  & label {
    color: #312e2e;
    font-size: 1.6rem;
    // width: 100%;
  }

  & div {
    display: flex;
    flex-direction: column;
    // width: 100%;
    // align-items: self-start;
    margin-bottom: 26px;
  }

  & input {
    width: 100%;
    font-size: 28px;
    color: #312e2e;
    height: 68px;
    border: none;
    border-radius: 5px;
    &:focus {
      outline: 3px solid black;
    }
  }

  & textarea {
    height: 168px;
    font-size: 28px;
    color: #312e2e;
    border: none;
    border-radius: 5px;
    &:focus {
      outline: 3px solid black;
    }
  }
}

.success {
  border: 3px solid green;
}

.error {
  border: 3px solid red;
}

.error-message {
  font-size: 1.5rem;
  color: red;
}

#lightbox {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

.lightbox {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__right {
    position: relative;
    outline: none;
  }
  &__previous {
    border: none;
    padding-right: 10px;
    outline: none;
    & .fa-chevron-left {
      border: 2px solid transparent;
      padding: 100px 25px;
    }
    &:focus {
      .fa-chevron-left {
        border: 2px solid black;
        padding: 100px 25px;
        border-radius: 5px;
      }
    }
  }
  &__next {
    border: none;
    outline: none;
    height: 100%;
    padding-left: 10px;
    & .fa-chevron-right {
      border: 2px solid transparent;
      padding: 100px 25px;
    }
    &:focus {
      .fa-chevron-right {
        border: 2px solid black;
        padding: 100px 25px;
        border-radius: 5px;
      }
    }
  }
  &__close {
    outline: none;
    position: absolute;
    top: -15px;
    right: 0;
    width: 100%;
    padding: 25px 15px;
    border: 2px solid transparent;
    &:focus {
      border: 2px solid black;
      padding: 25px 15px;
      border-radius: 5px;
    }
  }
  &__previous,
  &__next,
  &__close {
    cursor: pointer;
    color: #901c1c;
    background-color: transparent;
  }
  &-container {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    & video {
      //FIXME taille d'origine puis resize...
      width: 100%;
      border-radius: 5px;
    }
  }
  &__text {
    color: $primary-color;
    padding-top: 5px;
    font-size: 1.5rem;
  }
  &-caption {
    color: $primary-color;
    padding-top: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    &__like {
      &-label {
        display: flex;
        align-items: flex-start;
      }
      &-display {
        width: 60px;
        height: 60px;
        position: relative;
        border: 2px solid transparent;
        top: -10px;
        padding: 30px;
      }
      &_inactive {
        color: rgba($tertiary-color, 0.35);
        opacity: 1;
        position: absolute;
        top: 13px;
        right: 10px;
        transition: opacity 150ms;
        font-size: 2.2rem;
        margin: auto;
        cursor: pointer;
        z-index: 2;
      }
      &_active {
        position: absolute;
        color: $primary-color;
        top: 13px;
        right: 10px;
        opacity: 0;
        transition: opacity 150ms;
        font-size: 2.2rem;
        cursor: pointer;
      }
      &-btn {
        opacity: 0;
        &:focus ~ {
          & .lightbox-caption__like-display {
            border: 2px solid black;
            border-radius: 5px;
            padding: 30px;
          }
        }
        &:checked ~ .lightbox-caption__like-display {
          & > .lightbox-caption__like_inactive {
            opacity: 0;
          }
          & > .lightbox-caption__like_active {
            opacity: 1;
          }
        }
      }
    }
  }
}

.medias {
  &__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    width: 100%;
  }
}

/* ------------------------------------------------------- */

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  &__label {
    font-size: 1.25rem;
    font-weight: bold;
  }
  &-wrapper {
    margin-left: 20px;
    position: relative;
    width: 300px;
    display: inline-block;
  }
  &__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px 30px;
    margin-bottom: -1px;
    height: 65px;
    border: none;
    background-color: $primary-color;
    border-radius: 7px;
    cursor: pointer;
    &:focus {
      outline: 4px solid black;
      z-index: 10;
    }
  }
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.select.open {
  .select__trigger {
    border-radius: 7px 7px 0 0;
  }
}

.select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  display: block;
  line-height: 60px;
  // transition: all 0.5s;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 1px 30px;
  height: 60px;
  border: none;
  background-color: $primary-color;
  position: relative;
  &::before {
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    background-color: white;
    width: 90%;
    position: absolute;
    top: -1px;
    left: 12px;
  }
  &.no-white-line::before {
    display: none;
  }
  &:focus {
    outline: 4px solid black;
    z-index: 100;
  }
  &:hover {
    cursor: pointer;
  }

  &_last {
    border-radius: 0 0 7px 7px; //FIXME
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  }
}

label[for='medias-sort'] {
  font-size: 1.25rem;
  font-weight: bold;
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 0.2rem;
    height: 100%;
    transition: all 0.5s;
  }
  &::before {
    left: -3px;
    transform: rotate(-45deg);
    background-color: white;
  }
  &::after {
    left: 6px;
    transform: rotate(45deg);
    background-color: white;
  }
}

.open {
  & .arrow {
    &::before {
      left: -3px;
      transform: rotate(45deg);
    }

    &::after {
      left: 6px;
      transform: rotate(-45deg);
    }
  }
}

/* --------------------------------------------------------- */

.media-card {
  width: 100%;
  justify-self: center;
  cursor: pointer;
  padding: 4px;
  overflow: hidden;
  position: relative;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
  &__image {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 7px;
    transition: all 0.15s linear;
    border: transparent;
    &:hover {
      transition: all 0.15s linear;
      transform: scale(1.02);
      box-shadow: 3px 6px 10px #ddd;
      opacity: 0.7;
    }
    &:focus {
      border-radius: 0;
      transition: all 0.15s linear;
      transform: scale(1.03);
      box-shadow: 3px 6px 10px #ddd;
      opacity: 0.7;
      border: 5px solid black;
      border-radius: 5px;
    }
  }
  &__video-icon {
    color: white;
    position: absolute;
    top: 44%;
    left: 53%;
    transform: translate(-50%, -50%);
  }
  &:active {
    & .media-card__image {
      transform: scale(1);
      box-shadow: none;
      transition: all 0.05s linear;
    }
  }
  &__likesNbr {
    white-space: nowrap;
  }
  &__like {
    position: absolute;
    color: rgba($primary-color, 0.8);
    top: 25px;
    right: 25px;
    background-color: white;
    border-radius: 50%;
    padding: 9px 7px 6px 7px;
    transition: all 0.15s linear;
  }
}

.image__datas {
  display: flex;
  justify-content: space-between;
  color: $primary-color;
  padding-top: 10px;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

/**
 * Cache un élément, mais le laisse apparent pour un screen reader
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.w100 {
  width: 100%;
}
