@use '../utils/variables' as *;

.main_photograph {
  flex-direction: column;
}
.photograph-header {
  background-color: $quaternary-color;
  height: 300px;
  margin: 0 100px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__id {
    //FIXME mise en forme
    display: flex;
    flex-direction: column;
  }
}
.photographer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $primary-color;
  border-radius: 5px;
  cursor: pointer;
}

.photographer__rate {
  bottom: 0;
  right: 20px;
  position: fixed;
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 5px 5px 0 0;
}

.modal {
  border-radius: 5px;
  background-color: $modal-bg;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  z-index: 1;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.2s;
  &__close {
    background-color: transparent;
    border: none;
  }
  &[aria-hidden='false'] {
    animation-name: fadeOut;
  }
}

.hidden {
  display: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  align-items: start;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    & > * {
      font-weight: 100 !important; //FIXME
    }
  }
  &__name {
    font-size: 2em;
  }
}

.modal header img {
  cursor: pointer;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 2rem;
  width: 100%;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  font-size: 36px;
  color: #312e2e;
  height: 68px;
  border: none;
  border-radius: 5px;
}

form textarea {
  width: 100%;
  height: 168px;
  font-size: 36px;
  color: #312e2e;
  border: none;
  border-radius: 5px;
}

#lightbox {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

.lightbox {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__right {
    position: relative;
  }
  &__previous {
    padding-right: 25px;
  }
  &__next {
    height: 100%;
    padding: 0 15px 0 25px;
  }
  &__close {
    color: black;
    position: absolute;
    right: 0;
    width: 100%;
  }
  &__previous,
  &__next,
  &__close {
    cursor: pointer;
    border: none;
    color: #901c1c;
    background-color: transparent;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
    & video {
      width: 100%;
      border-radius: 5px;
    }
  }

  &__text {
    color: $primary-color;
    padding-top: 5px;
    font-size: 1.5rem;
  }
}

.medias-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  width: 100%;
}

.media-card {
  justify-self: center;
  cursor: pointer;
  &__image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 7px;
  }
}

.image__datas {
  display: flex;
  justify-content: space-between;
  color: $primary-color;
  padding-top: 10px;
  font-size: 1.5rem;
}

/**
 * Visually hide an element, but leave it available for screen readers
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
